<!DOCTYPE html>
<html>
<head>
  <title>Makemeshakeit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//www.rdio.com/api/api.js?client_id=ybpd0-4MlYtgR5MnaE27wA"></script>
  <script src="//www.rdio.com/api/api.js?helper=/helper.html&client_id=ybpd0-4MlYtgR5MnaE27wA"></script>
  <script src="https://www.webrtc-experiment.com/RecordRTC.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
	.hidden {
		display: none;
	}
  </style>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:900,600' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
